li {
    list-style: none;
}

.list {
    display: inline-block;
    background-color: cyan;
    padding: 2px;
    margin: 2px;
    border: 2px solid black;
    border-radius: 5px;
}

form {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.formsContainer {
    display: flex;
}

.alert>h3 {
    text-align: center;
}

.hiddenCon {
    position: absolute;
    display: flex;
    z-index: 2;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.hidden {
    position: sticky;
    display: block;
    z-index: 1;
    background-color: rgba(198, 53, 55, 0.85);
    width: 50%;
    height: 50%;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
    background-color: cyan;
    padding: 15px;
    border-radius: 10px;
}

a:visited {
    color: black;
    text-decoration: none;
}