li {
    list-style: none;
    
}

.list {
    display: inline-block;
    background-color: cyan;
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
}

.listCon {
    margin-top: 5px;
}

.linkCon {
    margin: 10px;
}

.linkCon>a {
    border: 1px solid black;
}

form {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.formsContainer {
    display: flex;
}

#alert>h3 {
    text-align: center;
}

.hiddenCon {
    position: absolute;
    display: flex;
    z-index: 2;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.hidden {
    position: sticky;
    display: block;
    z-index: 1;
    background-color: rgba(198, 53, 55, 0.85);
    width: 50%;
    height: 50%;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
    background-color: cyan;
    padding: 15px;
    border-radius: 10px;
}

a:visited {
    color: black;
    text-decoration: none;
}

.formsContainer {
    display: flex;
    justify-content: space-around;
}

ul, #myUL {
    list-style-type: none;
  }
  
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  .caret {
    cursor: pointer;
  }
  
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }